body{
background-image: url("background.png");
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
font-size: 20px;
}


.input1{
	position: relative;
	left: 25%;
	border: double 2.5px blue;
	display: block;
	width: 25em;
	padding: 30px;
	background: rgba(255, 255, 255, .5);
	border-radius: 10px;
	
}