*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
#logIn{
	float: right;
	padding: 20px;
	
}

body{
}

#myModal{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
	position: fixed;
	
}


.modal-content{
	animation-name: myAnimation;
	animation-duration: 3s;
	display: block;
	width: 600px;
	position: absolute;
	height: 500px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	
	
	
}

.modal-body *{

}

.modal-body{
	background: white;
	border-radius: 0px 0px 10px 10px;
	/*min-height: 400px;
	overflow: auto;*/
}

.modal-body p{
	float: right;
	width: 40%;
	border-bottom: solid 1px #ccc;
	font-size: 16px;
	text-align: justify;
}

.modal-header{
	background-color: #ccc;
	color: white;
	text-align: center;
	padding: 10px;
}



#modalImage{	
	width: 100%;
}

.myImages{
	max-width: 15em;
}

.myImages:hover{
	opacity: 0.5;
}

.close{
	font-size: 2.5em;
	text-align: right;
	font-weight: bold;
}

.close:hover{
	cursor: pointer;
	color: black;
}

@keyframes myAnimation{
	 from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
  
}
#inloggen{
	display: none;
}



	


